/* Default css file for jemdoc. */

p {
	text-align: justify;
}

#layout-menu {
	margin-top: 2em;
	font-size: 1.1em;
	line-height: 2em;
}

a {
	word-break: keep-all;
	-webkit-hyphens: auto;
	hyphens: auto;
}

a:hover {
	border-bottom: 1px gray dotted;
}

a.card-link {
	color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	
	margin-top: 0.8em;
	font-weight: bold;
	
}


em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

pre {
	padding: 0;
	margin: 0;
	overflow: scroll;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}




span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu {
		display: none;
	}

}


h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.3rem;
}

h6{
	font-size: 1rem;
}

img {
	max-width: min(100%, 700px) !important;
	height: auto;
}

#me {
	max-width: min(60%, 300px) !important;
}
