<div class="mt-3 mb-5">
  <div class="row align-items-center">
    <div class="col-sm order-sm-2 text-center">
      <img
        style="width: 100%; max-width: 300px"
        alt="profile photo"
        src="/images/me.jpg"
      />
    </div>
    <div class="col-sm-8 order-sm-1">
      <a href="/"><h1 id="home">Devansh Agrawal</h1></a>
      <p>
        I am a final year PhD student in Aerospace Engineering and Robotics at the
        <a href="https://umich.edu">University of Michigan</a>, advised by
        <a href="https://websites.umich.edu/~dpanagou/"
          >Professor Dimitra Panagou</a
        >. My research interests include the synthesis and analysis of 
        safety critical control and perception systems for nonlinear robotic systems. 
        My research lies at the intersection of theory and practice, where I develop
        novel theoretical results to characterize the performance and behavior of 
        control algorithms, and then demonstrate  and validate them experimentally using 
        quadrotors and ground rovers. Most of my code is open-sourced.
      </p>

      <p>
        I did my undergrad from
        <a href="https://www.imperial.ac.uk/">Imperial College London</a>, where
        I earned my BEng and MEng in Aeronautical Engineering. I was awared the
        Royal Aeronautical Society Prize, and was on the Dean's List all four
        years. My masters thesis
        <a href="/pdfs/2020-imperial-thesis.pdf">(pdf)</a> was on the
        control of extremely flexible structures. During my undergrad I
        co-founded the Imperial Drone Society, and the Rocketry Team.
      </p>

      <p>
        I also spent a year at 
        <a href="https://web.mit.edu/">Massachussets Institute of Technology</a>,
        as an exchange student during my third year. During this time I worked on my projects,
        including the design of a super-short takeoff and landing vehicle, the
        optimization of silent-properless aircrafts, and was actively involved
        in the MIT Rocket Team.
      </p>

      <p> Visit my <a href="https://dev10110.github.io/tech-notes">tech-notes</a> for some technical notes that I have written up. 
        If you find them useful (or find mistakes), please let me know!
      </p>

      <p> I am always interested in technically challenging projects, and love to discuss
        ideas with people. Feel free to reach out if you would like to chat. 
      </p>

      

      <p style="text-align: center">
        <a target="_blank" href="mailto:devansh@umich.edu"> Email</a>
        &nbsp;/&nbsp;
        <a href="https://github.com/dev10110">GitHub</a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=0R2CO0wAAAAJ&hl=en"
          >Google Scholar</a
        >
        &nbsp;/&nbsp;
        <a href="https://linkedin.com/in/devansh-r-agrawal/"> LinkedIn </a>
      </p>
    </div>
  </div>
</div>
