<div class="mt-3 mb-5">
  <div class="row">
    <h2 id="publications">Publications</h2>

    
    {% assign posts =  site.papers | sort: "date" | reverse%}
    {% for post in posts %}

    <div class="row align-items-top mt-3">
      <div class="col-md-3 mb-2">
          {% if {{post.image}} %}
        <a href="{{post.url}}">
          <img
            class="img-thumbnail img-fluid"
            src="{{post.image}}"
            alt="project image"
          />
        </a>
        {% endif %}
      </div>

      <div class="col-md-9">
        <a href="{{post.url}}"> <h3>{{ forloop.index }}. {{post.title}}</h3></a>
        {% include publication_blurb.html %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
