---
layout: layout
---

<div>
  <div>{% include profile.html %}</div>

  <!-- Add in news -->
  <div>{% include news_list.html %}</div>
  <!-- Add in papers -->
  <div>{% include publications_list.html %}</div>

  <div>
    {% for category in site.table_categories %}
      <div class="row mt-3 mb-5">
        <h2 id="{{category}}">{{category | capitalize }}</h2>

        {% for post in site.posts %} {% for cat in post.categories %} {% if cat ==
        category %}
        <div class="row mt-3 mb-5">
          <div class="col-md-3">
            <a href="{{ post.url }}">
              {% if post.image %}
              <img
                src="{{ post.image }}"
                alt="project image"
                style="width: auto; height: auto; max-width: 100%"
              />
              {% endif %}
            </a>
          </div>
          <div class="col-md-9">
            <a href="{{ post.url }}"> <h3>{{ post.title }}</h3></a>
            <p>
              {{ post.summary }}
              <br />
              <a href="{{ post.url }}">More Info >></a>
            </p>
          </div>
        </div>
        {% endif %} {% endfor %} {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
