---
layout: default
---

<div class="container">
  <div class="row">

    <div class="col-lg-2 order-lg-3">
      <div class="row sticky-top ">
      <div class="py-6"></div>
      <nav class=" navbar-light bg-light mt-3 mb-3 pt-3 pb-3 px-2">
        <ul class="navbar-nav mr-auto px-2">
          <li class="nav-item">
            <a href="/#home">Home</a>
          </li>
          <li class="nav-item">
            <a href="/#news">News</a>
          </li>
          <li class="nav-item">
            <a href="/#publications">Publications</a>
          </li>
          <li class="nav-item">
            <a href="/#patents">Patents</a>
          </li>
          <li class="nav-item">
            <a href="https://dev10110.github.io/tech-notes">Tech Notes</a>
          </li>
        </ul>
      </nav>
    </div>
    </div>
    <div class="col-lg-8 order-lg-2">
        {{ content }}
    </div>
    <div class="col-lg-2 order-lg-1">
    </div>
  </div>



  <div class="row">
    <div class="pt-5 mb-1">
      <p style="text-align: center; font-size: small">
        Design and source code modified from
        <a style="font-size: small" href="https://jonbarron.info"
          >Jon Barron's website</a
        >. Edit
        <a
          style="font-size: small"
          href="https://github.com/dev10110/dev10110.github.io"
          >here</a
        >.
      </p>
    </div>
  </div>

</div>
